
.card-for-cast {
    margin: 10px; 
  }
  
  .row-eq-height {
    display: flex;
    flex-wrap: wrap;
  }
  
  .row-cols-eq {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @media (min-width: 992px) {
    .row-cols-eq > div {
      flex: 0 0 calc(25% - 20px); 
    }
  }
  
  @media (max-width: 991px) {
    .row-cols-eq > div {
      flex: 0 0 calc(33.3333% - 20px); 
    }
  }
  
  @media (max-width: 576px) {
    .row-cols-eq > div {
      flex: 0 0 calc(100% - 20px); 
    }
  }
  